@import url('https://v1.fontapi.ir/css/Vazirmatn:200;600');
@import url('https://v1.fontapi.ir/css/IranNastaliq');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color: #e74c3c;
    --background-color: #34495e;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
}

.logo {
    width: 80px;
}

.logo>img {
    width: 100%;
}

.anim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.anim>li {
    list-style: none;
    font-family: arial;
    font-size: 3em;
    letter-spacing: 15px;
    text-shadow: none;
    animation: animate 1s infinite linear;
}

@keyframes animate {
    0% {
        color: #484848;
        text-shadow: none;
    }

    18% {
        color: #484848;
        text-shadow: none;
    }
    20%{
        color:#fff900 ;
        text-shadow: 0 0 7px #fff900,
        0 0 20px #ff6c00;}
        30%{
            color: #484848;
            text-shadow: none;
        }
        35%{
            color:#fff900 ;
        text-shadow: 0 0 7px #fff900,
        0 0 20px #ff6c00;}
        70%{
            color: #484848;
            text-shadow: none;
        }
        85%{
            color:#fff900 ;
        text-shadow: 0 0 7px #fff900,
        0 0 20px #ff6c00;}
        90%{
            color: #484848;
            text-shadow: none;
        }
        100%{
            color: #484848;
            text-shadow: none;
        }
    }
    .anim >li:nth-child(1){
        animation-delay: .2s;
    }
    .anim >li:nth-child(2){
        animation-delay: .4s;
    }
    .anim >li:nth-child(3){
        animation-delay: .6s;
    }
    .anim >li:nth-child(4){
        animation-delay: .8s;
    }
    .anim >li:nth-child(5){
        animation-delay: 1s;
    }



.navbar {
    font-family: vazirmatn;
    font-weight: 600;
    display: flex;
    direction: rtl;
}

.navbar li {
    list-style: none;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    color: var(--color);
    padding: 10px;
    line-height: 50px;
    font-size: 1.2rem;
}

#menu,
.close {
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
    color: var(--color);
}